body {
    background-color: #a4f9ff;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    font-family: 'Arial', sans-serif;
}

.panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    margin: 40px;
    gap: 20px;
}

.group {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

.chat {
    flex-grow: 1;
    width: 100%;
    max-width: 600px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 15px;
    overflow-y: auto;
}

.message-bar {
    display: flex;
    width: 100%;
    max-width: 600px;
    margin-top: 20px;
}

#inputbox {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 25px;
    font-size: 16px;
    margin-right: 10px;
}

#send-button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 25px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#send-button:hover {
    background-color: #0056b3;
}

.message {
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

.message .text {
    background-color: #e1ffc7;
    padding: 10px;
    font-size: 16px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    word-break: break-word;
}

.message .sender {
    font-weight: bold;
    color: #333;
    margin-top: 10px;
    margin-bottom: auto;
}

.back-button {
    font-size: 16px;
    background-color: #ffffff;
    color: #007bff;
    border: 2px solid #007bff;
    border-radius: 25px;
    padding: 5px 15px;
    position: absolute;
    left: 20px;
    top: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.back-button:hover {
    background-color: #007bff;
    color: #ffffff;
}

.del-button {
    display: none;
}

.message:hover .del-button {
    display: flex;
}