body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.dialogue {
    width: 80%;
    height: 80%;
    background-color: rgb(216, 216, 216);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}

.conversation{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}

.input-box {
    display: flex;
    overflow: hidden;
    border: 0;
}

input{
    width: 100%;
    height: 60px;
    text-align: center;
    font-size: medium;
}

button .submit-button {
    display: flex;
}

.chat {
    margin: 10px;
    display: flex;
    font-size: large;
}

.chat-sender {
    background-color: aliceblue;
    padding: 10px;
    border-radius: 10px;
    word-wrap: break-word;
    margin-right: 10px;
}

.chat-message {
    background-color: rgb(85, 176, 255);
    padding: 10px;
    border-radius: 10px;
    word-wrap: break-word;
}

#username {
    position: absolute;
    right: 0;
    top: 0;
    margin: 10px;
    font: bold;
    font-size: larger;
}

#backButton {
    position: absolute;
    left: 0;
    top: 0;
    margin: 10px;
}